body {

    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}

section {

    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.gridContainer {

    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;

}

.rowContainer {

    display: flex;
    flex-direction: row;
    margin: 0px;

}

.optionButton {

    margin: 15px;

}